#slider-122 .wd-slide {
	min-height: 460px;
}
#slider-122 .wd-nav-pagin-wrap {
	--wd-autoplay-speed: 20000ms;
}

@media (max-width: 1024px) {
	#slider-122 .wd-slide {
		min-height: 460px;
	}
}

@media (max-width: 768px) {
	#slider-122 .wd-slide {
		min-height: 460px;
	}
}
